

#header {
    width: 97.5vw;
    height: 50px;
    background-color: #CED4E2;
    text-align: center;
    padding: 10px;
}

#kasikonsolit {
    margin: 10px;
}

#navigointi {
    float: left;
    width: 10%;
    height: 75vh; /* only for demonstration, should be removed */padding: 20px;
}
.welcome {
    color: white;
    font-style: italic;
    text-align: right;
    padding-right: 40px;
}

#loginpa {
    margin-top: 30px;
}