#bodyback {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #cce5ff !important;
}

#nav {
    background-color: rgb(82, 137, 238);
}

.welcome {
    color: white;
    font-style: italic;
    text-align: right;
    padding-right: 40px;
}

#kirjautumis_sivu, #kayttaja, #peli, h4 {
    margin: 30px;
}

#oetu {
    margin-left: 30px;
    margin-bottom: 20px;
}

h3 {
    margin-left: 20px;
}

.table {
    margin-left: 50px;
}

table.gridtable {
    margin-left: 40px;
    background-color: #ccccff;
    border-width: 1px;
    border-color: black;
    border-style: solid;
}

table.gridtable th {
    border-width: 1px;
    border-color: black;
    border-style: solid;
    padding: 10px;
}

table.gridtable td {
    border-width: 1px;
    border-color: black;
    border-style: solid;
    padding: 10px;
}

div.container {
    margin-top: 30px;
    /*background-color: #cce5ff;*/
}

div.drop {
    margin-top: 10px;
    margin-left: 30px;
    display: block; 
}

div.hae_nappi {
    margin-left: 152px;
    margin-top: 20px;
    margin-bottom: 20px;
}

#paivita_nappi {
    margin-left: 105px;
    margin-top: 10px;
    margin-bottom: 10px;
}

#delete_nappi {
    margin-left: 10px;
} 

#save_nappi {
    margin-left: 110px;
    margin-top: 10px;
}

#peli_nappi {
    margin-left: 190px;
    margin-top: -65px;
}

#clear_nappi {
    margin-left: 11px;
    margin-top: 10px;
    margin-bottom: 10px;
}

#lktallenna{
    margin-left: 220px;
    margin-top: 10px;
}

#lkpoista {
    margin-inline-start: 320px;
    margin-top: -62px;
}

#kirjaudu {
    margin-left: 95px;
    margin-top: 10px;
}

#klabel {
    margin-right: 43px;
} 

#hlabel {
    margin-right: 47px;
}

#vlabel {
    margin-right: 15px;
}

#mlabel {
    margin-right: 21px;
}

#tlabel {
    margin-right: 22px;
}